# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

# Read .node-version and update devbox.json if necessary
if [ -f .node-version ]; then
  NODE_VERSION=$(cat .node-version)
  DEVBOX_NODE_VERSION=$(jq -r '.packages.nodejs' devbox.json)
  
  if [ "$NODE_VERSION" != "$DEVBOX_NODE_VERSION" ]; then
    jq --arg version "$NODE_VERSION" '.packages.nodejs = $version' devbox.json > devbox.json.tmp && mv devbox.json.tmp devbox.json
    echo "Updated devbox.json with Node.js version $NODE_VERSION"
  fi
fi

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details
