---
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/500.css';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta content="rhamburg.com" name="description"/>

		<meta property="og:title" content="Rich Hamburg">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://rhamburg.com">
		<meta property="og:image" content="http://rhamburg.com/icon.png">

		<link rel="icon" href="/favicon.ico" sizes="any">
		<link rel="icon" href="/logo.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="icon.png">

		<link rel="manifest" href="/site.webmanifest">
		<meta name="theme-color" content="#272930">

		<title>(rh)amburg.com | creative.technology</title>
	</head>
	<body>
		<main>
			<section class="logo">
				<img class="rh" src="/logo.svg" alt="rhamburg logo" style="max-width: 200px;" />
				<header>
					<h1>rich<em>hamburg</em></h1>
					<h2><em>rhamburg</em>.com</h2>
				</header>
			</section>
		</main>
	</body>
</html>

<style is:global>
	:root {
		--background-primary: oklch(0.33 0.02 270.93);
		--background-stripe: oklch(0.28 0.01 272.96);
		--primary-accent: oklch(0.68 0.17 42.02);
	}
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
	}

	::selection {
		background-color: var(--primary-accent);
		color: #fff;
	}
	html {
		color: #fff;
		font-family: "Poppins", sans-serif;
		font-size: 100%;
		line-height: 1;
	}
	body {
		background-color: var(--background-primary);
		display: flex;
		justify-content: center;
		margin: 0;
	}
	main {
		align-items: center;
		background-color: var(--background-stripe);
		border-right: rgb(255 255 255 / .1) 1px solid;
		border-left: black 1px solid;
		display: flex;
		justify-content: center;
		height: 100vh;
		width: clamp(150px, 25vw, 355px);
	}

	.logo {
		align-items: center;
		display: flex;
		flex-direction: column;
		font-weight: 200;
		gap: 0.825rem;
		justify-content: center;
	}
	.logo .rh {
		width: 65px;
	}

	.logo header {
		align-items: center;
		display: flex;
		flex-direction: column;
		font-weight: 200;
		justify-content: center;
	}
	.logo header em {
		font-style:normal;
		font-weight: 500;
	}
	.logo header h1 {
		font-size: 1.1rem;
		font-weight: 200;
		line-height: 1.5;
		margin-block-start: 0.625
	}
	.logo header h2 {
		color: var(--primary-accent);
		font-size: .625rem;
	}
	.logo header h2 em {
		color: #fff;
	}

	@media screen and (min-width: 1024px) {
		.logo {
			flex-direction: row;
		}
		.logo header {
			align-items: flex-start;
		}
	}
	#logo header {
		font-size: 1em;
		font-weight: 200;
		padding: 2em 0 2em 10em;
		text-align: left;
	}
	#logo header h1 {
		font-size: 2.5em;
		margin: 0;
	}
	#logo header em {
		font-style: normal;
		font-weight: 500;
	}
	#logo header h2 {
		color: #ee6926;
		font-size: 1.5em;
		font-weight: 500;
		line-height: 1.4em;
		margin: 0;
	}
	#logo header h2 em {
		color: #ffffff;
		font-style: normal;
	}
	@media screen and (max-width: 1024px) {
		#logo header {
			display: inline-block;
			padding-left: 0;
			text-align: center;
		}
	}
</style>
